
body {
  font-family: "Work Sans", sans-serif;
  background-color: #f5f5f5;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  font-size: 14px;
}


a {
  color: #3ecf8e;
}

footer {
<<<<<<< HEAD
  margin-top:50px;
=======
  position: absolute;
  bottom: 0;
  height: 50px;
>>>>>>> 19e65ddeb46ceba7b9dd5f49c8d63d8c7aa9c2e1
  width:100%;
}
.container {
  padding:20px 20px 100px 20px;
}

<<<<<<< HEAD
.btn-primary {
  background-color: #3ecf8e;
  border-color: #3ecf8e;
}
.btn-primary:disabled {
  opacity: 0.6;
  background-color: #3ecf8e;
  border-color: #3ecf8e;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #2eb87a !important;
  border-color: #2eb87a !important;
}

=======
>>>>>>> 19e65ddeb46ceba7b9dd5f49c8d63d8c7aa9c2e1
.header {
  height: 60px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  text-align: center;
}

.Combined-Shape-Copy {
  width: 31.9px;
  height: 32px;
  object-fit: contain;
  margin-top:14px;
}

.FAQ_button {
  width: 66px;
  height: 32px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #3ecf8e;
  top: 14px;
  right: 14px;
  position: absolute;
<<<<<<< HEAD
  cursor:pointer;
}

.FAQ {
  /* width: 34px; */
=======
}

.FAQ {
  width: 34px;
>>>>>>> 19e65ddeb46ceba7b9dd5f49c8d63d8c7aa9c2e1
  height: 19px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 2px;
  text-align: center;
  color: #3ecf8e;
  position: absolute;
  top: 6px;
  left:16px;
}

.EOS {
<<<<<<< HEAD
  /* width: 408px; */
=======
  width: 408px;
>>>>>>> 19e65ddeb46ceba7b9dd5f49c8d63d8c7aa9c2e1
  height: 57px;
  object-fit: contain;
  opacity: 0.2;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
}
.Account-creator {
  object-fit: contain;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
}

.This-website-allows {

  font-size: 18px;
}


.Mask {
<<<<<<< HEAD
  /* max-width: 457px; */
  /* height: 421px; */
=======
  width: 457px;
  height: 421px;
>>>>>>> 19e65ddeb46ceba7b9dd5f49c8d63d8c7aa9c2e1
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  padding: 16px 16px 16px 16px;
}

.Why-this-service {
<<<<<<< HEAD
  font-size: 24px;
  font-weight: bold;
=======
  width: 425px;
  height: 28px;
  font-size: 24px;
  font-weight: bold;
  /* margin: 16px 0 0 16px; */
>>>>>>> 19e65ddeb46ceba7b9dd5f49c8d63d8c7aa9c2e1
}

.Mask p {
  font-size: 14px;
  margin-top: 12px;
}

<<<<<<< HEAD
.group2container {
  text-align:center;
}

.get_started_button {
  margin-top:20px;
  width:100%
}

.Get-started {
  font-size: 14px;
  font-weight: bold;
=======
.Group-2 {
  width: 105px;
  height: 121px;
  object-fit: contain;
}
.group2container {
  width: 100%;
  text-align:center;
}

.GetStartedButton {
  margin-top: 16px;
  display:block;
  width: 425px;
  height: 40px;
  border-radius: 4px;
  background-color: #3ecf8e;
  padding-top: 10px;
  cursor: pointer;
  text-decoration: none !important;
}


.Get-started {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.36;
  letter-spacing: 2px;
>>>>>>> 19e65ddeb46ceba7b9dd5f49c8d63d8c7aa9c2e1
  color: #ffffff;
  text-transform: uppercase;
}


.footer-buttons {
<<<<<<< HEAD
  text-align: right;
}


form.account_name {

}
img.valid, img.invalid {
  position:absolute;
  top:12px;
  right:20px;
}

.stretch {
  width:100%;
}

.breadcrumbs {
  margin-top:50px;
=======
  width:100px;
  height:50px;
  position:absolute;
  right: 0;
  top:0;
  
}

.Choose {
  height: 256px;
}

form.account_name {
  position: absolute;
  top: 120px; 
  left: 32px;
}
img.valid, img.invalid {
  position:absolute;
  top:42px;
  right:5px;
}
button#gen_random {
  position: absolute;
  top: -5px;
  right: 5px;
  background-color:white;
  color: #3ecf8e;
  border: none;
}

button#submit_button {
  margin-top:-24px;
  padding-top:0px;
}

.breadcrumbs {
  position:absolute;
  bottom:10px;
  left:10px;
  
>>>>>>> 19e65ddeb46ceba7b9dd5f49c8d63d8c7aa9c2e1
}
.breadcrumbs li {
  opacity: 0.2;
}
.breadcrumbs li.active {
  opacity: 1.0;
}
span.chosen_account_name {
  color: #3ecf8e;
}
input#owner_key, input#active_key {
  font-size: 9pt;
}
<<<<<<< HEAD
=======
.Keys {
  height: 365px;
}
>>>>>>> 19e65ddeb46ceba7b9dd5f49c8d63d8c7aa9c2e1


.faq {
  position: absolute;
  top:0;
  right: 0;
  width: 50%;
<<<<<<< HEAD
  min-width:300px;
=======
  min-width:500px;
>>>>>>> 19e65ddeb46ceba7b9dd5f49c8d63d8c7aa9c2e1
  background-color:#f9f9f9;
  padding: 16px 16px 16px 16px;
  z-index:2;
  overflow: scroll;
}

.faq h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 0 0 24px 0;
  border-bottom: solid 1px #dddddd;
}
.faq h4 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 0 0 0;
}

.faq p {
  border-bottom: solid 1px #dddddd;
  padding-bottom: 24px;
}
.blackbox {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: black;
  opacity:0.5;
  z-index:1;
}
.close_btn {
  width: 15.2px;
}

.price_display {
  text-align: center;
  
}
.price_display .price {
  font-size: 24px;
  font-weight: bold;
}
.price_subtitle {
  font-size:12px;
}

<<<<<<< HEAD

=======
.Purchase {
  height: 390px;
}
>>>>>>> 19e65ddeb46ceba7b9dd5f49c8d63d8c7aa9c2e1
