{% extends "buy/base.html" %}
{% load i18n %}
{% load static %}
	{% block head %}
		{{block.super}}
    
    
		
	{% endblock %}
	{% block body %}
	<div class="Mask">
    <h1>{% trans "EOS Smart Contract Account Creator" %}</h1>
    <p>
        {% blocktrans %}<a href="https://eos-account-creator.com/">EOS Account Creator</a> is proud to present the world's first <a href="https://github.com/angelol/smart_account_creator">open source</a> smart contract account creator.
        You can use it to create an account when you have EOS on an exchange.{% endblocktrans %}
    </p>
    <h2>{% trans "Instructions" %}</h2>

    <div class="instructions">
      <div class="other">
				<p>
	        {% trans "Make an EOS token transfer with the following data:" %}
	      </p>
				{% trans "Recipient" %}: <span class="recipient">accountcreat</span><br />
        {% trans "Memo" %}: <span class="memo-other">{{purchase.memo}}</span>
        <button class="copy" data-clipboard-target=".memo-other">
          <img src="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/svg/clippy.svg" alt="Copy to clipboard">
      </button>
      </div>
        
      <br />
      {% blocktrans with minimum=minimum|floatformat:4 %}Amount: Any amount, but has to be bigger than {{minimum}} EOS{% endblocktrans %}
      <p>
        {% trans "If you transfer less than the required minimum amount or any other error occurs, the transferred funds will be automatically refunded by the smart contract." %}
      </p>
      <p>
        {% trans "If you transfer more than required, the remaining balance will be forwarded to your newly created account." %}
      </p>
    </div>
	</div>
  <p></p>
  <div class="Mask">
    <h3>{% trans "Help" %}</h3><p/>
    <h5>{% trans "How do I withdraw from an Exchange?" %}</h5>
		<p>
			Binance recently put some further restrictions on the contents of the memo. Unfortunately, it is no longer possible to use Binance for payment.
		</p>
    <p>
      {% trans "Every exchange is a little bit different, but every exchange should allow you to withdraw to your account name while using a memo. In the following example, we are using Binance." %}
      <ol>
        <li>{% trans "Log in to Binance" %}</li>
        <li>{% trans "From the top navigation bar, select Funds->Withdrawals" %}</li>
        <li>{% trans "In the upcoming list, select EOS" %}</li>
        <li>{% blocktrans with minimum=minimum|floatformat:4 %}In the upcoming withdrawals form (see screenshot below), copy and paste the values from above. Paste the recipient account name from above (accountcreat) into the field "EOS Withdrawal Address", the memo from above into the Field "EOS Withdrawal MEMO". Use any amount you wish to withdraw into your new account but at least {{minimum}} EOS. {% endblocktrans %}
      </ol>
        
      <img src="{% static "buy/binance_2.png" %}" style="width: 100%; max-width:500px">
    </p>
    <h5>{% trans "How does it work?" %}</h5>
    <p>
      {% trans "When you withdraw your EOS to the accountcreat smart contract, it will perform the following steps in order:" %}
      <ol>
        <li>{% trans "Create a new account using your specified name, owner key and active key" %}</li>
        <li>{% trans "Buy 4KB of RAM for your new account with parts of the transferred EOS. Every account that is created on the EOS network needs 4 KB of RAM to exist." %}</li>
        <li>{% trans "Delegate and transfer 0.1 EOS for CPU and 0.1 EOS for NET." %}</li>
        <li>{% trans "Deduct our fee of 0.5% or a minimum of 0.1 EOS and forward the remaining EOS balance to your new account" %}</li>
      </ol>
      {% trans "Since this is a smart contract, all of this happens instantly, automatically and trustless. Should any of the above actions fail, the transaction will be rolled back which means the money will automatically be refunded to you." %}
    </p>
    <h5>{% trans "Where is the source code of the smart contract?" %}</h5>
    <p>
      {% blocktrans %}It's open source on <a href="https://github.com/angelol/smart_account_creator">github</a>. If you want to use this code or need help modifying it to your needs, contact me at{% endblocktrans %} <a href="mailto:hello@eos-account-creator.com">hello@eos-account-creator.com</a>.
    </p>
      
  </div>
  
	{% trans 'Need help? If you have any questions, please visit our <a href="https://t.me/eos_account_creator" target="_new">telegram group</a>.' %}
	
	
	{% endblock %}
	
{% block bodyscript %}
<input name="account_name" type="hidden" value="{{purchase.account_name}}"></input>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/eosjs-api@6.3.2/lib/eos-api.min.js" integrity="sha256-h7IXnVwGCsZYzHROytbuFL7QGP0V9hucrgOAM+YMKgQ=" crossorigin="anonymous"></script>

<script>
	let eos = EosApi({
		httpEndpoint: 'https://publicapi-mainnet.eosauthority.com'
	});
	let account_name = $("input[name=account_name]").val();
	function check_completed() {
		eos.getAccount(account_name).then((x) => {
			// console.log("Account was created!");
			show_success();
		}).catch((err) => {
				// console.log("Account is free");
			setTimeout(check_completed, 5000);
		});;
			
	}
	
	function show_success() {
		$.ajax({
			url: "/check_registration_status/",
			method: "POST",
			success: function(data) {
				window.location.href = '/success/';
			}
		});
	}
	
	$(function() {
			new ClipboardJS('.copy');
			setTimeout(check_completed, 5000);
	});
	
	
</script>
{% endblock %}