{% extends "buy/base.html" %}
{% load static %}

{% block title %}EOS Account Generation Service{% endblock %}

{% block head %}
	{{ block.super }}
{% endblock %}
{% block body %}
	
<div class="row">
	<div class="col-sm">
		<div class="EOS">EOS</div>
		<div class="Account-creator">Account creator</div>
		<div class="This-website-allows">This website allows you to create an EOS account if you don't have one yet. <a class="faq_link" href="#">Check our FAQ</a> for more info.</div>
		<p></p>		
		<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/822Oa8pXG5g" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-sm">
		<div class="Mask">
			<div class="Why-this-service">Why this service?</div>
			<p>The way EOS works is that new accounts can only be created by someone with an existing account. Creating an account also requires to stake a certain amount of EOS and to buy some RAM.</p>
			<p> If you create an EOS account on this website, it comes with 0.2 EOS staked for CPU and Network bandwidth as well as 4KB of RAM.</p>
			
			<div class="group2container">
			<img src="{% static 'buy/img/group-2.png' %}"
     srcset="{% static 'buy/img/group-2@2x.png' %} 2x,
             {% static 'buy/img/group-2@3x.png' %} 3x"
     class="Group-2">
		 
		 <a href="/choose/" class="btn btn-primary get_started_button"><span class="Get-started">Get started</span></a>
		 </div>
		 
		 
		</div>
	</div>

</div>
{% endblock %}
{% block bodyscript %}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />

<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
	"popup": {
	  "background": "#cfcfcf",
	  "text": "#5c7291"
	},
	"button": {
	  "background": "#3ecf8e",
	  "text": "#ffffff"
	}
  },
  "content": {
	"message": "This website uses cookies because it absolutely needs them.",
	"href": "/privacy_policy/"
  }
})});
</script>
{% endblock %}
