{% extends "buy/base.html" %}
	{% block head %}
		{{block.super}}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script>
			var handler;
			
			var xToken;
			$(function() {
				$("input[type=radio]").change(function() {
					
					update_form($(this));
				});
				
				handler = StripeCheckout.configure({
				  key: 'pk_live_evJqDAq6j8nspwva5E5y8rlw',
				  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
				  locale: 'auto',
				  token: function(token) {
				    // You can access the token ID with `token.id`.
				    // Get the token ID to your server-side code for use.
				console.log("GOt token.id: "+ token.id);
				xToken = token;
					$.ajax({
						url: '/stripe_charge/',
						method: 'POST',
						data: {
							'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
							'token': token.id,
							'account_name': $("input[name=account_name]").val(),
							'public_key': $("input[name=public_key]").val(),
							'uuid': $("input[name=uuid]").val(),
						},
						success: function(data) {
							console.log(JSON.stringify(data));
							if(data=='ok') {
								window.location.href = '/success/';
							}
						}
					})
				  }
				});
				// Close Checkout on page navigation:
				window.addEventListener('popstate', function() {
				  handler.close();
				});
				
			});
			
			function update_form(e) {
				var text;
				var submit_fun;
				let form = $("form");
				$("button").prop("disabled", false);
				let value = $(e).val();
				console.log("value: " + value);
				
				let price = $("input[name=price]").val();
				console.log("Price: " + price);
				if(value == 'creditcard') {
					text = 'Create EOS Account and pay USD ' + price + ' with credit card';
					submit_fun = pay_creditcard;
				} else if (value == 'crypto') {
					text = 'Create EOS Account and pay USD ' + price + ' with cryptocurrency';
					submit_fun = pay_crypto;
				}
				$("button").text(text);
				
				form.off( "submit" );
				form.submit(submit_fun);
				
				
			}
			
			function pay_creditcard(event) {
				$.ajax({
					url: '/stripe/',
					method: 'POST',
					data: {
						'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
					}
				});
				handler.open({
					name: "EOS Account Creator",
					description: "Your EOS Account "+ $("input[name=account_name]").val(),
					amount: $("input[name=price_cents]").val(),
					currency: 'usd',
					zipCode: true,
				});
				event.preventDefault();
				
			}
			
			function pay_crypto(event) {
				// do nothing, just let the form submit
			}
		</script>
	{% endblock %}
	{% block body %}
	<div class="shadow p-3 mb-5 bg-white rounded">
		<p>The EOS account name you have chosen is: <b>{{purchase.account_name}}</b><br />
Your public key is: <b>{{purchase.public_key}}</b><br />
The current price for the account creation service is: USD {{purchase.price_usd|floatformat:2}}<br />
After successful payment, you will be redirected back here and we will create the EOS account for you. In case of problems, your payment will be refunded.</p>
<form action="/buy_action/" method="POST">
	{% csrf_token %}
	<div class="form-group">
	<input required="required" type="checkbox" id="privacy_policy"></input><label for="privacy_policy">I have read an accept the <a href="/privacy_policy/" target="_new">privacy policy</a><label><br />
	</div>
	<div class="form-group">
	<input required="required" type="checkbox" id="constitution"></input><label for="constitution">I have read an accept the <a href="https://github.com/EOS-Mainnet/governance/blob/master/eosio.system/eosio.system-clause-constitution-rc.md" target="_new">EOS Constitution</a><label><br />
	</div>
	<div class="form-group">
		<p>Please choose your payment option:</p>
		<input type="radio" name="payment" value="creditcard" id="creditcard" /><label for="creditcard"> Credit Card</label><br />
		<input type="radio" name="payment" value="crypto" id="crypto" /><label for="crypto"> Cryptocurrency (Bitcoin, Bitcoin Cash, Ethereum or Litecoin)</label>
	</div>
	<input type="hidden" name="price" value="{{purchase.price_usd|floatformat:2}}" />
	<input type="hidden" name="price_cents" value="{{purchase.price_cents}}" />
	<input type="hidden" name="account_name" value="{{purchase.account_name}}" />
	<input type="hidden" name="public_key" value="{{purchase.public_key}}" />
	<input type="hidden" name="uuid" value="{{uuid}}" />

	<button class="btn btn-primary" type="submit" disabled="disabled">Please choose a payment method to continue</button>
</form>


	</div>
	Need help? If you have any questions, please visit our <a href="https://t.me/eos_account_creator" target="_new">telegram group</a>.
	
	<script src="https://checkout.stripe.com/checkout.js"></script>
	
	{% endblock %}