{% extends "buy/base.html" %}
{% load i18n %}
{% load static %}
	{% block head %}
		{{block.super}}
		
	{% endblock %}
	{% block body %}
		<div class="please_wait">
			{% trans "Please wait while we await confirmation of your payment…" %}
			<div class="loader">{% trans "Loading" %}…</div>
		</div>
		<div class="payment_received" style="display:none;">
			{% trans "Your payment was received. Please stand by while we try to create your EOS account." %}
			<div class="loader">{% trans "Loading" %}...</div>
		</div>
		<div class="account_created" style="display:none;">
			<div class="row">
				<div class="col-sm-6">
					<div class="EOS">EOS</div>
					<div class="Account-creator">{% trans "Account created" %}</div>
					<div class="This-website-allows">{% trans "Your chosen EOS Account Name is:" %} <span class="chosen_account_name">{{purchase.account_name}}</span></div>
					<form>
						<div class="form-group">
							<label for="owner_key" class="col-form-label">{% trans "Owner Public Key:" %}</label>
						<input type="text" class="form-control" id="owner_key" name="owner_key" size="53" readonly="readonly" placeholder="{{purchase.owner_key}}">
						</div>

						<div class="form-group">
							<label for="active_key" class=" col-form-label">{% trans "Active Public Key:" %}</label>
								<input type="text" class="form-control" id="active_key" name="active_key" size="53" readonly="readonly" placeholder="{{purchase.active_key}}">

						
						</div>
				
					</form>
				</div>
				<div class="col-sm-6">
					<div class="Mask">
						<div class="Why-this-service">Thank you</div>
						<p>{% blocktrans with account_name=purchase.account_name %}Your EOS Account <b>{{account_name}}</b> was created successfully.</p>{% endblocktrans %}
						<p>
							{% trans "What's next?" %}<br/>
							{% blocktrans with account_name=purchase.account_name %} You can check out your new account in the <a href="http://explorer.eosvibes.io/search/{{account_name}}" target="_new">EOS Block Explorer</a>{% endblocktrans %}<br/>
						</p>
						<p>
							{% trans "Please consider voting for" %} <a href="https://eosvibes.io/" target="_new">eosvibesbloc</a>
						</p>
						<p>{% trans 'If you have any questions, please visit our  <a href="https://t.me/eos_account_creator" target="_new">Telegram group.</a>' %}</p>
						
						<div class="group2container">
						<img src="{% static 'buy/img/ev-acc-gen-icon-blue.svg' %}" class="Group-2">
					 
					 <a href="/choose/" class="btn btn-primary get_started_button"><span class="Get-started">{% trans "Get started" %}</span></a>
					 </div>
					 
					 
					</div>
				</div>

			</div>
		</div>
		
		
	{% endblock %}
	
{% block bodyscript %}
<script>
	$(function() {
		check_progress();
		
	});
	function check_progress() {
		$.ajax({
			url: "/check_progress/",
			method: "POST",
			success: function(data) {
				// console.log(data);
				if(data.purchase.account_created) {
					// console.log("account was created");
					$(".account_created").show();
					$(".payment_received").hide();
					$(".please_wait").hide();
				} else if(data.purchase.payment_received) {
					$(".account_created").hide();
					$(".payment_received").show();
					$(".please_wait").hide();
					setTimeout(check_progress, 5000);
				} else {
					$(".account_created").hide();
					$(".payment_received").hide();
					$(".please_wait").show();
					setTimeout(check_progress, 5000);
				}
			},
			error: function() {
				setTimeout(check_progress, 5000);
			}
		});
	}
</script>
{% endblock %}