{% extends "buy/base.html" %}
{% load i18n %}
{% load static %}
{% block head %}
  <title>Permission Updater</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js" integrity="sha256-FtWfRI+thWlNz2sB3SJbwKx5PgMyKIVgwHCTwa3biXc=" crossorigin="anonymous"></script>
  {{block.super}}

      
{% endblock %}

{% block body %}
  <div id="app">
    
    <section class="container mt-5">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="ls-1 font-weight-bold">
            <span class="d-block text-muted">EOS Account</span>
            <span>Permission Updater</span>
          </h3>
          <p>If you registered your EOS ERC-20 tokens prior to the EOS main net launch, then you will have been given a randomly generated EOS account name as part of the genesis snapshot.</p>          
          <p>The name may look something like this: <code>ggdegdjraklj</code></p>
          <p>Genesis accounts were not given an Active Key, only an Owner Key so your Owner and Active Key will use the same Public and Private Key Pair.</p>
          <h4 class="font-weight-bold">Benefits of having an Active Key</h4>
          <p>Instead of using your Owner Key to sign transactions and interact with EOS based dAPPs, you can use your Active Key instead. This provides you with an additional layer of security.</p>
          <p>If your Active Private Key ever gets compromised, then you can use your Owner Key to override it and revoke any previous permissions you granted your Active Key.</p>
          <p>You can use this service (for free) to add a new Active Key to your EOS account as well as revoke and replace a compromised Active Key and change it to another (new) Active Key.</p>
          <p>You will never have to expose your Owner Private Key ever again - not even to your wallet. Just use your Active Key instead. You can use your Active key to engage with wallets, dapps and sign everyday transactions on EOS.</p>
          <p class="text-danger">*Always Keep ALL Your Private Keys Safe</p>
          
        </div>
        <div class="col-md-6">
          <div class="Mask">
            <div class="card-body">
              <div class="d-flex mb-1 justify-content-between align-items-center">
                <div class="Why-this-service">Update Permissions</div>
                <button v-if="identity" @click="forgetIdentity" class="btn btn-info t-up fw-bolder fs-14">Signout</button>
              </div>
              <hr class="mt-0" />
              <p v-if="msg" class="alert " :class="[msg.isError? 'alert-danger' : 'alert-info']">
                {% verbatim %}
                <b>{{msg.type}}!</b>&nbsp;{{msg.message}}
                {% endverbatim %}
              </p>
              <p v-if="tx">
                <a class="btn btn-link" target="_blank" :href="'https://explorer.eosvibes.io/tx/'+ tx.transaction_id">View Transaction</a>
              </p>
              <form class="mb-2">
                <div class="form-group">
                  <label>Account Name <small>(Public key or account name)</small></label>
                  <input type="text" class="form-control" name="active" v-model.trim="account.name" />
                </div>
                <div class="form-group">
                  <label>Active Permission <small>(Public key or account name)</small></label>
                  <input type="text" class="form-control" name="active" v-model.trim="account.active" />
                  <small class="pt-1 text-muted t-up ls-1">Do not touch, if you do not want to update.</small>
                </div>
                <div class="form-group">
                  <label>Owner Permission <small>(Public key or account name)</small></label>
                  <input type="text" class="form-control" name="owner" v-model.trim="account.owner" />
                  <small class="pt-1 text-muted t-up ls-1">Do not touch, if you do not want to update.</small>
                </div>
                <div class="account-info" v-if="eosAccount">
                  {% verbatim %}
                  <table class="table bg-light">
                    <tbody>
                      <tr>
                        <th>Account Name:</th>
                        <td>{{eosAccount.account_name}}</td>
                      </tr>
                      <tr v-if="identity">
                        <th>Permission:</th>
                        <td>{{eup.authority}}</td>
                      </tr>
                      <tr>
                        <th>Created At:</th>
                        <td>{{eosAccount.created}}</td>
                      </tr>
                      <tr>
                        <th>Liquid Balance:</th>
                        <td>{{eosAccount.core_liquid_balance || '0 EOS'}}</td>
                      </tr>
                    </tbody>
                  </table>
                  {% endverbatim %}
                  
                </div>
                <div v-if="identity">
                  <small class="pb-2 d-block text-muted t-up ls-1">
                    <div class="row">
                      <div class="col-sm-2">
                        <input type="checkbox" v-model="userConfirmation" id="are_you_sure" />
                      </div>
                      <div class="col-sm-10">
                        <label for="are_you_sure">Please update my account permissions to the above values. I know what I'm doing!</label></small>
                      </div>
                    </div>
                  <button @click="updateAccountKey" type="button" class="btn btn-success t-up ls-1 fs-14 btn-block btn-lg" :disabled="!userConfirmation">
                    Update account permissions
                  </button>
                  <small class="pt-2 d-block text-muted t-up ls-1">This operation cannot be undone.</small>
                </div>
                <button v-else @click="connectScatter" type="button" class="btn btn-primary t-up ls-1 fs-14 btn-block btn-lg">
                  Connect scatter
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
  </section>
  <script src="{% static 'buy/scatter.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/eosjs-ecc@4.0.3/lib/eosjs-ecc.min.js" integrity="sha512-XWIwj+P5ClTipsRsO+yz0U8z4Zp9RmGTlJT9+BrgngPFLitzJnaVaNi4Q7nkbHs2W+WeZp0S9EBhZ8KbBC8Yyg=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/eosjs@16.0.2/lib/eos.min.js" integrity="sha512-22gPq/bBKtvD6mdthugNUuGmYEdKkVnnhvSnl4k62eNPmKoFEmNbmxLIU4Hz/5EsmCX2jsYIwkaiz507wT+fBw=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/eosjs-api@7.0.3/lib/eos-api.min.js" integrity="sha512-LLDsX/GdVZYA82k9TVz3zUxSjvaX8s5b1FJm64W51JGxLFKI2z+ljqYQtsUZIOxh9pSUqvLA5HCoxXqdRxusKw=="
    crossorigin="anonymous"></script>
  <script src="{% static 'buy/app.js' %}"></script>
{% endblock body %}